body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
    color: #ccc;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#skills ul {
    columns: 2;
}

#skills ul li {
    background: #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}



.project a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-info {
    flex: 1;
    padding-right: 20px; /* Space between description and screenshots */
}

.screenshots {
    flex: 0 0 300px; /* Fixed width for screenshots section */
}

.screenshot-scroll {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px 0;
}

.screenshot-scroll img {
    height: 200px; /* Adjust height as needed */
    margin-right: 10px; /* Space between images */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
